  {{description}}:
    adapters:
      - endpoint_ports: [{{remote_port1}}, {{remote_port2}}, {{remote_port3}}, {{remote_port4}}]
        switch_ports: [{{port1}}, {{port2}}, {{port1}}, {{port2}}]
        switches: [{{switch1}}, {{switch1}}, {{switch2}}, {{switch2}}]
        profile: {{port_profile}}
{# #}